body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fff;
}

.container {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}
.container h1 {
  text-align: center;
  font-weight: 900;
}
.container p {
  color: #0b0b0b;
  font-size: 1.4rem;
  font-weight: 600;
}
li {
  line-height: 50px;
  font-size: 1.1rem;
}

h2 {
  color: red;
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 25px;
  margin: 0;
  padding-top: 22px;
  font-weight: 800;
}
a {
  text-decoration: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* margin: 50px 0; */
}
.content {
  width: 25%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: 10px;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.4s;
  background: #fff;
}
.content .cash {
  border: 2px solid dashed;
}
.content p {
  color: #0b0b0b;
}
.content .cash p {
  font-size: 1.5rem;
  color: #0b0b0b;
}
.diff {
  background-image: linear-gradient(#dbe7f8, #fafafa);
  border: 2px red dashed;
}
.diff h3 {
  color: red;
}
.content:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}
img {
  width: 300px;
  height: 300px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
p {
  text-align: center;
  color: #b2bec3;
}
h6 {
  font-size: 46px;
  text-align: center;
  color: #222f3e;
  margin: 0;
  font-weight: bolder;
}
.gallery ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.fa {
  font-size: 26px;
  transition: 0.4s;
}
.checked {
  color: #ff9f43;
}
.fa:hover {
  transform: scale(1.3);
  transition: 0.6s;
}
button {
  text-align: center;
  font-size: 24px;
  color: #fff;
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.buy-1 {
  background: #2183a2;
}
.buy-2 {
  background: #3b3e6e;
}
.buy-3 {
  background: #0b0b0b;
}
#order-form {
  width: 100%;
}

/* .footer {
  text-align: center;
} */

.footer img {

    width: 100%;
    height: auto;
  
}
@media (max-width: 1000px) {
  .content {
    width: 45%;
  }
  .container h1 {
    text-align: center;
  }
  iframe{
    margin: 30px 0;
  }
}
@media (max-width: 750px) {
  .content {
    width: 100%;
  }
  .container h1 {
    text-align: center;
  }
  iframe{
    margin: 30px 0;
  }
}
@media (max-width: 640px) {
  .container {
    width: 95%;
  }
  li {
    line-height: 35px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }

  .container h1 {
    text-align: center;
  }
  .footer iframe{
    margin: 30px 0;
  }
}

